#wrapper {
	width: 438px;
	margin: 0 auto;
	background-color: #f0f0f0;
	padding: 0 5px;
	font-family: tahoma;
}

.clr {
	clear: both;
}

li {
	border-bottom: 1px solid #d6d6d6;
	padding: 10px 0;
}

.left {
	float: left;
	margin-right: 10px;
}

img {
	width: 211px;
	height: 159px;
}

.right {
	float: left;
	width: 212px;
}

h3 a {
	font-size: 14px;
	color: #0055a3;
	text-decoration: none;
}

.more {
	margin: 8px 0;
	font-size: 11px;
}

.date {
	border-left: 2px solid #008000;
	padding-left: 5px;
	margin-left: 5px;
	font-weight: bold;
	color: #008000;
}

.time {
	color: #005599;
}

.decription {
	font-family: arial;
	font-size: 12px;
	color: #0000fe;
}

#icon {
	background: url("../images/h4.png") no-repeat right top;
	padding-right: 17px;
}
